/* my custom css code */
.mainbody {
  background-image: url('../img/background.png');
  /* must batch #footer width */
  width: 95%;
  background: none repeat scroll 0 0 transparent;
  margin-left: auto;
  margin-right: auto;
  font-family: arial, helvetica, sans-serif;
  min-height: 80%;
  height: auto;
  position: relative;
  padding-bottom: 5px;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 100%;
}


#topHeader {
  background-image: url('../img/logo.jpg');
  background-position: left;
  background-repeat: no-repeat;
  color: #eeeeee;
  height: 65px;
  margin: 0 auto;
  padding-right: 8px;
  text-align: right;
  font-size: 2em;
  line-height: 2em;
  /* to vertical center title text */
}
.navcontainer {
  color: #eeeeee;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  list-style-type: none;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.topnav {
  background: #333399;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /* valign */
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 13px;
  line-height: 36px;
}
.bottomnav {
  background: #5a5a93;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /* valign */
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 13px;
  line-height: 36px;
}
.hmenu {
  background: #a1a1cc;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /* valign */
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 10px;
  line-height: 22px;
  padding-right: 8px;
  text-align: right;
}
#liMenu li {
  display: inline;
}
#liMenu li a {
  color: #ffffff;
  padding-right: 8px;
}

/* set a max-width for horizontal fluid layout and make it centered */
.containerex {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    text-align: center;      
}

