/* my custom css code 
 set a max-width for horizontal fluid layout and make it centered 
 */

 .footer {
  color: #999999;
  text-align: right;
  font-size: smaller;
  padding: 10px;
}

  .footer a {
    color: #999999;
    padding-right: 13px;
  }

.mainbody {
  background-image: url('../../img/background.png');
  /* must batch #footer width if use fixed bottom */
  width: 98%;
  background: none repeat scroll 0 0 transparent;
  margin-left: auto;
  margin-right: auto;
  font-family: arial, helvetica, sans-serif;
  min-height: 80%;
  height: auto;
  position: relative;
  padding-bottom: 5px;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 100%;
}

.main-body {
  text-align: center;
  max-width: 90%;
}

#topHeader {
  color: #eeeeee;
  height: 70px;
  margin: 0 auto;
  padding-right: 8px;
  text-align: right;
  font-size: 2em;
  line-height: 2em;
  /* to vertical center title text */
}
.main .page-header {
  margin-top: 0;
}

.hmenu {
  background: #eaeaf1;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
}

.list-group {
  margin: auto;
  float: right;
  padding-top: 0;
}

.vmenu {
  text-align: left;
  float: right;
  max-width: 10%;
  background: #eaeaf1;
  font-size: 12px;
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.screenOdd {
  text-align: left;
  background-color: #fdfffc;
}

.screenEven {
  text-align: left;
  background-color: #F6FAEE;
}
table.jvtable {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border: 1px solid #e2efe0;
  border-collapse: separate;
}

th.jvtable, .jvcolhdr {
  /*  font-size: larger; */
  text-align: center;
  background-color: #eaeaf1;
  color: #6F3E3E;
}

td.jvtable {
  /*	border: 1px dashed #ffefff; */
  /*    text-align: center; */
  vertical-align: top;
}

.txtRt {
  text-align: right;
}
.txtReadOnly {
  background-color: lightgray;
}